{% extends 'base.html' %}
{% block body %}
      <div class="container my-3" style="width:700px;">
        <h1>Edit Todo</h1>  
    </div>
      <div class="container my-5" style="width:700px;">
        <form action="/edit/{{todo.sno}}" method="post">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" value="{{todo.title}}">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Desc</label>
              <input type="textarea" class="form-control" name="desc" id="desc" value="{{todo.desc}}">
            </div>
          
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
      </div>
      
      {% endblock body %}
      